@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables.scss" as *;

.learning-home {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	padding: 1rem;

	&__card {
		margin-right: 1.5rem;

		&--first {
			color: #345d63;
			background: url(../../assets/images/coins.svg), #cfeaea;
			background-size: 7.375rem;
			background-position: 80% 100%;
			background-repeat: no-repeat;
			margin-bottom: 1rem;
		}

		&--second {
			background-color: #ecf3d4;
		}
	}

	&__subtitle {
		margin-top: 1rem;
		margin-left: 1rem;
	}

	&__article {
		border: 1px solid #e3e2e0;
	}
}

.card__content {
	background-image: url("../../assets//images/sasun-bughdaryan-EmGF98ckNSU-unsplash.jpg");
}

.search {
	width: 100%;
	position: relative;

	&__icon {
		position: absolute;
		top: 1.25rem;
		left: 1rem;
		z-index: 2;
		width: 1.40613rem;
		height: 1.4rem;
	}

	&__input {
		color: $text-color;
		border: 1px solid #31302e;
		background: #fcfcfc;
		height: 3.8125rem;
		width: 100%;
		text-indent: 3rem;
		font-size: 1rem;
		align-items: center;
		display: flex;
		border-radius: 0.5rem;
	}
}

::placeholder {
	color: $text-color;
	font-weight: 500;
	font-family: "futura-pt";
}
