@use "./variables" as *;

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTLight.otf) format(opentype);
	font-weight: 400;
}
@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTBook.otf) format(opentype);
	font-weight: 450;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTDemi.otf) format(opentype);
	font-weight: 500;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTMedium.otf) format(opentype);
	font-weight: 600;
}

@font-face {
	font-family: "futura-pt";
	src: url(../../assets/fonts/FuturaPTHeavy.otf) format(opentype);
	font-weight: 650;
}

@font-face {
	font-family: "tiempos-headline";
	src: url(../../assets/fonts/TiemposHeadline-Regular.otf) format(opentype);
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: "caslon-graphique";
	src: url(../../assets/fonts/CaslonGraphique-Opti.otf) format(opentype);
	font-weight: 400;
	font-style: regular;
}
