@use "./variables" as *;

@font-face {
	font-family: "futura-pt";
	src: url();
}

@font-face {
	font-family: "tiempos-headline";
	src: url();
}

h1 {
	font-size: clamp(5.6rem, 2.63vw + 4.78rem, 8.4rem);
	font-weight: 400;
	letter-spacing: 0.01em;
	font-family: tiempos-headline, Lucida, Georgia, serif;
	line-height: 108%;
}

h2 {
	font-size: clamp(3.6rem, 2.63vw + 2.78rem, 6.4rem);
	font-weight: 400;
	letter-spacing: 0.01em;
	font-family: tiempos-headline, Lucida, Georgia, serif;
	line-height: 116%;
}

h3 {
	font-size: clamp(2.4rem, 0.56vw + 2.22rem, 3rem);
	font-weight: 500;
	letter-spacing: -0.0075em;
	font-family: futura-pt, system-ui, "Helvetica Neue", sans-serif;
	line-height: 124%;
}

p {
	font-size: clamp(1.8rem, 0.56vw + 1.62rem, 2.4rem);
	font-weight: 400;
	letter-spacing: -0.005em;
	font-family: futura-pt, system-ui, "Helvetica Neue", sans-serif;
	line-height: 124%;
}
