//PRIMARY COLORS
$text-color: #32302f;
$background-color: #fcfcfc;
$color-white: #ffff;
$border-color: #e3e2e0;

//FONT SIZING
$font-size-base: 1rem; // Base font size
$font-size-xl: 1.25rem; // 20px
$font-size-3xl: 2rem; // 32px
