@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables.scss" as *;

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3rem 1rem 1rem;
	background-color: $background-color;
	z-index: 1;

	&__title {
		font-size: 1.063rem;
	}
}

.icon-container {
	display: flex;
	align-items: center;
}

.back-arrow {
	width: 5.625rem;
}

.icon {
	margin-left: 1rem;
}
