.account-overview {
    margin-top: 6.25rem;
    padding: 1rem;

    .balance {
        font-size: 2rem;
        font-weight: bold;
    }

    .account-main {
        margin-top: 0.625rem;
        display: flex;
        align-items: center;

        .account-name {
            font-size: 1rem;
            font-weight: bold;
            margin-right: 0.625rem;
        }

        .equal-icon {
            margin-left: auto;
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .accounts {
        margin-top: 1.25rem;
        width: 100%;
        margin: 0.625rem 0;
        border: 0.0625rem solid #ccc;
        border-radius: 0.5rem;
        overflow: hidden;
        padding: 0.625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .account-item {
        flex: 1;
        padding: 1rem;
        margin-right: 0.625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .add-account {
        margin-top: 1.25rem;
        width: 100%;
        border: 0.0625rem solid black;
        border-radius: 1rem;
        overflow: hidden;
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .plus-icon {
            margin-right: 0.3125rem;
            width: 1rem;
            height: 1rem;
        }
    }
}
